@use  './abstracts/mixins';

.histories-wrapper {
    padding: .5rem !important;
    position: relative;
    height: 82vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

@include mixins.sm-screen {
    .histories-wrapper {
        padding: .5rem !important;
        position: relative;
        height: 80vh !important;
        overflow-x: hidden;
        overflow-y: scroll;
    }   
}