@use "./abstracts/mixins";

.histories-wrapper {
  padding: 0.5rem !important;
  position: relative;
  height: 78vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.background-card {
  background: #dfdddd;
}

@include mixins.sm-screen {
  .histories-wrapper {
    padding: 0.5rem !important;
    position: relative;
    height: 70vh !important;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
