input {
    border: 1px solid #c0bfbf !important;
    border-radius: 0.3rem !important;
    height: 1.8rem;
    padding: 0.1rem 0.4rem !important;
}

input:focus {
    border: 1px solid #a1a0a0 !important;
}